body {
    background-image: url("lakehouse.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: #ffffff;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
h1 {
    opacity: 0;
    color: #000000;
    align-self: center;
    text-align: center;
    font-size: 40px;
    padding: 0;
}
.container {
    opacity: 0;
    width: 700px;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 600px;
    margin: 10px;
    padding: 10px;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-shadow: 3px 0px 5px #26036c;
    cursor: pointer;
}

#home {
    color: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    padding: 0;
}
#modalCardMovie {
    display: none;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 13px #404040,
                 -10px -10px 13px #000000;
    width: 550px;
    height: fit-content;
    padding: 10px;
    position: absolute;
    top:125px;
    left:500px;
    z-index: 1;
}
#heading  {
    text-align: center;
    color: #000000;
    margin: 0;
}

#closeModal {
    color: #000000;
    margin: 5px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    align-self: flex-end;
}
#modalCardActor {
    display: none;
    opacity: 0;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 13px #a4a4a4,
                 -10px -10px 13px #ffffff;
    height: 630px;
    padding: 10px;
    position: absolute;
    top:25px;
    left: 50px;
    z-index: 1;
}
.innerText {
    
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    text-align: center;
}

#photos img {
    margin: 10px;
}
#photos {
    display: flex;
    justify-content: space-between;
}
#headingActor {
    color: #000000;
    margin: 0;
}
#descriptionActor {
    padding: 10px;
    font-size: 17px;
    color: #000000;
}

#closeModalActor {
    color: #000000;
    margin: 5px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    align-self: flex-start;
    order: 3;
}

@media all and (max-width:1025px) {
    body {
        height: 170vh;
      }
    .container {
        opacity: 0;
        height: fit-content;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .box {
        width: fit-content;
        margin: 0;
        padding: 10px;
        font-size: 18px;
    }
    h1 {
        font-size: 40px;
        margin: 10px;
    }
    a {
        color: #000000;
    }
    #home {
        padding:10px;
        left: 0;
        top: 0;
        font-size: 15px;
        width: 60px;
        height: 60px;
    }
    #modalCardMovie {
        width: 800px;
        height: fit-content;
        padding: 10px;
        left:150px;
        
    }

    #modalCardActor {
        min-width: 700px;
        height: fit-content;
        padding: 10px;
        top:0;
        left: 0;
    }
    #photos {
        flex-direction: column;
    }
    .innerText {
        height: fit-content;
        width: 400px;
    }
    #closeModalActor {
        order: 3;
        align-self: flex-start;
    }
} 
@media all and (max-width:850px) {
    body {
        background-image: url("lakehouseSmall.jpg");
        height: 180vh;
    }

    h1 {
        font-size: 40px;
    }
    h3 {
        margin-top: 10px;
    }
    .container {
        min-width: 300px;
        max-width: 600px;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }
    .box {
        min-width: 300px;
        max-width: 600px;
        height: fit-content;
        padding: 10px;
        font-size: 20px;
        align-items: center;
        flex-direction: column;
    }

    #modalCardMovie {
        width: 600px;
        top: 0;
        left:100px;
    }
    #heading  {
        font-size: 35px;
    }
    #description  {
        font-size: 28px;
    }
    #modalCardActor {
        flex-direction: column;
        width: 500px;
        top: 50px;
        left:0;
        padding: 0;
    }
    #headingActor {
        font-size: 25px;
    }
    #descriptionActor {
        font-size: 20px;
    }
    #photos {
        flex-direction: row;
    }
    #home {
        height: fit-content;
        font-size: 20px;
        width: fit-content;
        padding: 10px;
    }
    .innerText {
        width: 500px;
    }
    #closeModalActor {
        order: 0;
        align-self: flex-end;
    }

} 

@media all and (max-width:550px) {
    body {
        height: 140vh;
        align-items: center;
    }
    h1 {
        font-size: 30px;
        margin-top: 20px;
        color: #ffffff;
    }
    .container {
        max-width: 300px;
        height: fit-content;
        align-items: center;
    }
    .box {
        max-width: 300px;
        padding: 10px;
        font-size: 18px;
    }
    .btn {
        margin-top: 180px;
        width: 30px;
        height: 30px;
    }
    .btn img {
        width: 30px;
    }
    #home {
        left: 0;
        top: 0;
        padding: 0;
        font-size: 15px;
        width: 60px;
        height: 30px;
    }
    #modalCardMovie {
        max-width: 300px;
        top:50px;
        left:0;
    }
    #heading  {
        font-size: 20px;
    }
    #description  {
        font-size: 18px;
    }
    #trailer {
        width: 300px;
    }
    #modalCardActor {
        flex-direction: column;
        min-width: 300px;
        max-width: 400px;
        padding: 10px;
        top:50px;
        left: 0;
    }
    #headingActor {
        font-size: 20px;
    }
    #descriptionActor {
        font-size: 18px;
    }
    #photos {
        flex-direction: column;
    }
    .innerText {
        height: fit-content;
        width: 300px;
    }
}